<?xml version="1.0"?>
<launch>
    <rosparam file="$(find pose_initializer)/config/param.yaml" command="load"/>

    <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node">
        <remap from="fix" to="ublox/fix" />
        <remap from="odom" to="gps/odom" />
    </node>
    <node pkg="pose_initializer" type="pose_initialize_node" name="pose_initialize_node">
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_frame" value="base_link"/>
        <param name="utm_topic" value="gps/odom"/>
        <param name="gnss_pose_topic" value="gps/position"/>
        <param name="map_origin" value="[411354.3, 3949853.92, -3.45]"/>

        <param name="use_initializer" value="false"/>
        <param name="timer_duration" value="0.1"/>
        <param name="examine_duration" value="60"/>
    </node>
</launch>